<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" />
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
	<script src="https://cdn.rawgit.com/SSENSE/vue-carousel/6823411d/dist/vue-carousel.min.js"></script>





	<link href="/css/main.css" rel="stylesheet" />
	<link href="/css/modal.css" rel="stylesheet" />
	<link rel="stylesheet" href="/css/styles.min.css">
	<link rel="shortcut icon" type="image/ico" href="/img/favicon.ico"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Devology</title>


	<style>
		.board-container {
			display: table;
			width: 100%;
			height: 100%;
			border-spacing: 16px;
		}

		.completed {
			font-size: 16px;
			font-weight: 400;
			opacity: 0.5;
		}

		ul.column {
			display: table-cell;
			list-style-type: none;
			margin: 0px;
			padding: 16px;
			background: #ddd;
			min-width: 200px;
			border-radius: 10px
		}
		ul.column li {
			display: block;
			padding: 8px;
			background: #eee;
			border-radius: 10px;
			margin-bottom: 8px;
		}
		ul.column li.title {
			background: #ddd;
			color: black;
		}
		ul.column li.card {
			min-height: 100px;
			box-shadow: 1px 2px 0px #aaa;
			color:black;
		}

		ul.tasks-list {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: block;
		}
		ul.tasks-list > li.task {
			display: block;
			padding: 0;
			margin: 0;
			padding-left: 8px;
		}
		li.task > input[type=checkbox]:checked + span {
			font-style: italic;
			text-decoration: line-through;
		}
	</style>
</head>
<div id="projects">
	<div id="Nooverlay">
	<div id="wrapper" class="toggled" >
		<aside id="sidebar-wrapper">
			<div class="sidebar-brand" style="text-align: left;">
				<img style="width: 58px;margin-left: 2px;" src="/img/logo.jpg">
			  </div>
		  <ul class="sidebar-nav" id="sidebar-nav">
			<li >
			  <a  href="/inicio"><i class="fa fa-home"></i>Inicio</a>
				</li>
			<li class="active">
			  <a href="/proyectos"><i class="fa fa-tasks"></i>Proyectos</a>
				</li>
			<li>
			  <a href="/organizacion"><i class="fa fa-building"></i>Organizacion</a>
				</li>
			<li>
				<a href="/perfil"><i class="fa fa-user"></i>Perfil</a>
				</li>
			<li v-if="type==1">
				<a href="/aptitudes"><i class="fas fa-chart-bar"></i>Aptitudes</a>
				</li>
			<li>
				<a href="/logout"><i class="fas fa-sign-out-alt"></i>Cerrar sesion</a>
				</li>
		  </ul>
		</aside>
		<div id="navbar-wrapper">
		  <nav class="navbar navbar-inverse">
			<div class="container-fluid">
			  <div class="navbar-header">
				<a @click="sidebar()" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
			  </div>
			</div>
		  </nav>
		</div>
		<section id="content-wrapper">
			<div >
				<ul class="nav nav-tabs">
					<li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Nuevo</a></li>
					<li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">Activos</a></li>
					<li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">Eliminadas/Detenidas</a></li>
					<li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-4">Info</a></li>
					<li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-5">Gestion</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" role="tabpanel" id="tab-1">
						<fieldset>
							<legend>Creacion de tareas</legend>
							<hr>
							<form>
							<div class="form-group">
								<label for="exampleFormControlInput1">Nombre de tarea</label>
								<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese nombre de la tarea" style="width: 50%" v-model="task_name">
							</div>
							<div class="form-group">
								<label for="exampleFormControlSelect1">Responsable</label>
								<select class="form-control" id="exampleFormControlSelect1" style="width: 50%" v-model="task_responsable" @change="this.selected">
									<option v-for="(user, index) in users" v-if="user.rol == 4" v-bind:value="index">{{ user.nombres }}</option>
								</select>
							</div>

							<div class="form-group">
								<label for="exampleFormControlTextarea1">Descripcion de tarea</label>
								<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="width: 50%" v-model="task_description"></textarea>
							</div>
								<button  class="btn btn-success" type="button"  data-toggle="modal" data-target="#exampleModal" @click="this.createTask" v-if="type ==2">
									Crear tarea
								</button>
								<button  class="btn btn-success" type="button" v-else disabled>
									Crear tarea
								</button>
							</form>
						</fieldset>
					</div>
					<div class="tab-pane" role="tabpanel" id="tab-2">
						<fieldset>
							<legend>Tares activas/pendientes</legend>
							<hr>
							<div class="board" property="board" mv-multiple v-for="user in users" v-if="user.rol == 4">
								<h2 property="boardName">Tareas de: {{user.nombres}}</h2>

								<div class="board-container">
									<ul class="column">
										<li class="title">Tareas nuevas/sin empezar</li>
										<li class="card" property="todo" mv-multiple mv-accepts="todo in_progress completed" v-for="task in tasks" v-if="user.id_usuario == task.id_desarrollador && task.status == 0">
											<strong>{{task.nombre}}</strong>.<br>Descripcion: {{task.descripcion}}<br>
											<button @click="init(task)" class="btn  btn-success" v-if="user.id_usuario == userID">Comenzar</button>
										</li>
									</ul>
									<ul class="column">
										<li class="title">En progreso</li>
										<li class="card" property="in_progress" mv-multiple mv-accepts="todo in_progress completed" v-for="task in tasks" v-if="user.id_usuario == task.id_desarrollador && task.status == 1">
											<p property="title">{{task.nombre}}.</p>
											<ul class="tasks-list">
												<li class="task" mv-multiple="task" mv-initial-items="0">
													<span property="task_name">Descripcion: {{task.descripcion}}</span><br>
													<button class="btn  btn-success" v-if="user.id_usuario == userID" @click="advance(task)">Solicitar revision</button>
												</li>
											</ul>
										</li>
									</ul>
									<ul class="column">
										<li class="title">Finalizadas</li>
										<li class="card" property="completed" mv-multiple  mv-accepts="todo in_progress completed" v-for="task in tasks" v-if="user.id_usuario == task.id_desarrollador && task.status == 3">
											<strong>{{task.nombre}}</strong>.<br>Descripcion: {{task.descripcion}}
										</li>
									</ul>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="tab-pane" role="tabpanel" id="tab-3">
						<fieldset>
							<legend>Eliminadas/Detenidas</legend>
							<hr>
							<div class="container">
								<table class="table table-dark">
									<thead>
										<tr><th scope="col">Nombre</th><th scope="col">Descripcion</th></tr>
										</thead>
										<tbody>
											<tr scope="row" v-for="task in tasks" v-if="task.status == 4">
												<td>{{task.nombre}}</td>
												<td>{{task.descripcion}}</td>
											</tr>
										</tbody>
								</table>
							</div>
							
						</fieldset>
				</div>
					<div class="tab-pane" role="tabpanel" id="tab-4">
						<fieldset>
							<legend>Información del Proyecto</legend>
							<hr>
							<ul class="list-group" v-if="projectData!=null">
								<li class="list-group-item list-group-item-dark">
									<h3 class="list-group-item-heading">Nombre del proyecto:</h3>
					 	 			<p class="list-group-item-text">{{projectData.Nombre}}</p>
								</li>
								<li class="list-group-item list-group-item-dark">
									<h3 class="list-group-item-heading">Descripcion del proyecto:</h3>
					 	 			<p class="list-group-item-text">{{projectData.Descripcion}}</p>
								</li>
								<li class="list-group-item list-group-item-dark">
									<h3 class="list-group-item-heading">Integrantes del pryecto proyecto:</h3>
									<ul>
										<li v-for="user in users">{{user.nombres}} - {{ user.rol == 4 ? "Desarrollador" : "Administrador" }}</li>
									</ul>
								</li>
								<li class="list-group-item list-group-item-dark">
									<h3 class="list-group-item-heading">Requisitos en el proyecto:</h3>
									<ul>
										<li v-for="req in projectData.Requisitos" v-if="req[1]!=0">{{req[0]}}: {{req[1]}}%</li>
									</ul>
								</li>
								
							</ul>
						</fieldset>
				</div>
				<div class="tab-pane" role="tabpanel" id="tab-5">
					<fieldset>
						<legend>Gestión</legend>
						<hr>
						 <div v-if="projectData!=null">
							<button  class="btn btn-success" type="button" @click="connectGHRepo" v-if="projectData.github==''">
								Enlazar Repositorio Público <i class="fab fa-github"></i>
							</button>
							<button  class="btn btn-success" type="button" @click="connectGHRepo" v-else>
								Cambiar por Otro Repositorio Público <i class="fab fa-github"></i>
							</button>
						 </div>
						 <hr>
						 <div class="container">
							<table class="table table-dark">
								<br>Tareas para revision
								<thead>
									<tr><th scope="col">Nombre</th><th scope="col">Descripcion</th><th scope="col">Accion</th></tr>
									</thead>
									<tbody>
										<tr scope="row" v-for="task in tasks" v-if="task.status == 2">
											<td>{{task.nombre}}</td>
											<td>{{task.descripcion}}</td>
											<td><button class="btn  btn-success" @click="validate(1, task)">Aceptar</button> 
												<button class="btn  btn-danger" @click="validate(2, task)">Rechazar</button><br><br>
												<button class="btn  btn-warning" @click="deleteTask(task)">Eliminar</button>
											 </td>
										</tr>
									</tbody>
							</table>
						 </div>
						 <hr>
						 <button  class="btn btn-success" type="button" v-if="type==2" @click="endProject">
							Finalizar el proyecto
						</button>
					</fieldset>
				</div>
			</div>
		</section>
	</div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
  const vm = new Vue({
	  el: '#projects',
	  components: {
		  'carousel': VueCarousel.Carousel,
		  'slide': VueCarousel.Slide
		},
	  data: {
		  type:0,
		  task_name: "",
		  task_responsable: "",
		  task_description: "",
		  project_id: window.location.pathname.split('/')[2],
		  projectData: null,
		  tasks: [],
		  users:[],
		  AllUsers:[],
		  colab_id: "",
		  userID: 0,
		  advancePerc: 0
	  },
	  mounted(){
	  },
	  methods: {
		  sidebar(){
			  $("#wrapper").toggleClass("toggled");
		  },

		  async connectGHRepo(){
		  	// Ruta: /setGitUrl, parametros: const {projectID, url} = req.body //Recuerda que debe ser publico el repo-->
			  const { value: url } = await Swal.fire({
				  input: 'url',
				  title: 'Enlace del repositorio',
				  text: 'El repositorio debe ser de GitHub y Público',
				  inputPlaceholder: 'Ingrese la URL'
			  })
			  if (url) {
				  axios.post('/setGitUrl', {
				  	projectID: vm.$data.project_id,
					  url: url
				  })
				  .then((res)=>{
					  Swal.fire({title:"Exito!",text:"Se ha enlazado el Repositorio",icon:"success"})
				  })
			  }
		  },
			selected() {
					vm.$data.colab_id = vm.$data.users[vm.$data.task_responsable].id_usuario

			},
		  createTask(){
			vm.$data.advancePerc = Math.round(((vm.$data.tasks.filter((el)=> el.status == 4 || el.status == 3).length)/(vm.$data.tasks.length+1))*100)
			  axios.post('/insertTask', {
			  	  projectID: this.project_id,
				  name:vm.$data.task_name,
				  description: vm.$data.task_description,
				  colabID: vm.$data.colab_id,
				  cantidad: (vm.$data.tasks.length+1), 
				  projectID: vm.$data.projectData._id,Completado: vm.$data.advancePerc
			  })
					  .then((res)=>{
						  Swal.fire({title:"Exito!",text:"Proyecto inicializado con exito",icon:"success"})
						  vm.fillData();
					  })

		  },
		  init(task){
			vm.$data.advancePerc = Math.round(((vm.$data.tasks.filter((el)=> el.status == 4 || el.status == 3).length)/(vm.$data.tasks.length))*100)
			const params = {id: task._id, name: task.nombre, description: task.descripcion, colabID: task.id_desarrollador, status: 1, adminID: vm.$data.projectData.admin,
				  cantidad: (vm.$data.tasks.length), 
				  projectID: vm.$data.projectData._id, Completado: vm.$data.advancePerc}
			axios.post('/updateTask', params)
					  .then((res)=>{
						  Swal.fire({title:"Exito!",text:"Ahora la tarea esta en progreso de desarrollo",icon:"success"})
						  vm.fillData();
					  })
		},
		advance(task, val){
			vm.$data.advancePerc = Math.round(((vm.$data.tasks.filter((el)=> el.status == 4 || el.status == 3).length)/(vm.$data.tasks.length))*100)
			const params = {id: task._id, name: task.nombre, description: task.descripcion, colabID: task.id_desarrollador, status: 2, adminID: vm.$data.projectData.admin,
				  cantidad: (vm.$data.tasks.length), 
				  projectID: vm.$data.projectData._id, Completado: vm.$data.advancePerc}
			axios.post('/updateTask', params)
					  .then((res)=>{
						  Swal.fire({title:"Exito!",text:"Solicitud de revision enviada con exito",icon:"success"})
						  vm.fillData();
					  })
		},
		deleteTask(task){
			Swal.fire({title:"Advertencia", text: "¿Quieres eliminar esta tarea?", icon: "warning", 
				confirmButtonText: 'Si',
				showCancelButton: true,
				cancelButtonText: "No"})
				.then( (res)=>{
					if(res.value){
						vm.$data.advancePerc = Math.round(((vm.$data.tasks.filter((el)=> el.status == 4 || el.status == 3).length+1)/(vm.$data.tasks.length))*100)
			const params = {id: task._id, name: task.nombre, description: task.descripcion, colabID: task.id_desarrollador, status: 4, adminID: vm.$data.projectData.admin,
				  cantidad: (vm.$data.tasks.length), 
				  projectID: vm.$data.projectData._id, Completado: vm.$data.advancePerc}
			axios.post('/updateTask', params)
					  .then((res)=>{
						  Swal.fire({title:"Exito!",text:"La tarea se marco como detenida/eliminada",icon:"success"})
						  vm.fillData();
					  })
					}
				})
		},
		endProject(){
			console.log(vm.$data.projectData)
			const text = vm.$data.projectData.Completado != 100 ? "¿Quieres finalizar el proyecto?\nAun faltan tareas por finalizar":"¿Quieres finalizar el proyecto?"
			Swal.fire({title:"Advertencia", text: "¿Quieres finalizar el proyecto?", icon: "warning", 
				confirmButtonText: 'Si',
				showCancelButton: true,
				cancelButtonText: "No"})
				.then( (res)=>{
					console.log("yes")//End method here
				});
		},
		validate(type, task){
			const text = type ==2 ? "¿Quieres rechazar el avance de esta tarea?": "¿Quieres aprobar el avance de esta tarea?"
			Swal.fire({title:"Advertencia", text:text, icon: "warning", 
				confirmButtonText: 'Si',
				showCancelButton: true,
				cancelButtonText: "No"})
				.then( (res)=>{
					if(res.value){
						if(type==1){
							vm.$data.advancePerc = Math.round(((vm.$data.tasks.filter((el)=> el.status == 4 || el.status == 3).length+1)/(vm.$data.tasks.length))*100)
			const params = {id: task._id, name: task.nombre, description: task.descripcion, colabID: task.id_desarrollador, status: 3, adminID: vm.$data.projectData.admin,
				  cantidad: (vm.$data.tasks.length), 
				  projectID: vm.$data.projectData._id, Completado: vm.$data.advancePerc}
			axios.post('/updateTask', params)
					  .then((res)=>{
						  Swal.fire({title:"Exito!",text:"La tarea se marco como finalizada",icon:"success"})
						  vm.fillData();
					  })
						}else{
							init(task);
						}
					}
				})
		},
		fillData(){
			axios.post('/getTaskInProject', {projectID: this.project_id})
		  .then((res)=>{
			  let Reqs= []
			  this.projectData= res.data.project;
			  for (let [key, value] of Object.entries(JSON.parse(this.projectData.Requisitos))) {
                Reqs.push([key,value])
				}
			  this.type = res.data.type
			  this.projectData.Requisitos = Reqs
			  this.tasks =	res.data.tasks;
			  this.AllUsers = res.data.users;
			  const devs = JSON.parse(res.data.project.Desarrolladores);
			  this.users = this.AllUsers.filter((el)=> devs.includes(String(el.id_usuario)) || el._id== res.data.project.admin)
			  this.userID = res.data.userID
			  console.log((vm.$data.tasks.filter((el)=> el.status == 0 && el.id_desarrollador == "5ef8ec0f290176228c79db6b")))
		  })
		}
		},
	  created(){
		  this.fillData()
	  }
  });
  </script>
</html>
