<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" />
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
	<script src="https://cdn.rawgit.com/SSENSE/vue-carousel/6823411d/dist/vue-carousel.min.js"></script>





	<link href="/css/main.css" rel="stylesheet" />
	<link href="/css/modal.css" rel="stylesheet" />
	<link rel="stylesheet" href="/css/styles.min.css">
	<link rel="shortcut icon" type="image/ico" href="/img/favicon.ico"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Devology</title>


	<style>
		.board-container {
			display: table;
			width: 100%;
			height: 100%;
			border-spacing: 16px;
		}

		.completed {
			font-size: 16px;
			font-weight: 400;
			opacity: 0.5;
		}

		ul.column {
			display: table-cell;
			list-style-type: none;
			margin: 0px;
			padding: 16px;
			background: #ddd;
			min-width: 200px;
			border-radius: 10px
		}
		ul.column li {
			display: block;
			padding: 8px;
			background: #eee;
			border-radius: 10px;
			margin-bottom: 8px;
		}
		ul.column li.title {
			background: #ddd;
			color: black;
		}
		ul.column li.card {
			min-height: 100px;
			box-shadow: 1px 2px 0px #aaa;
			color:black;
		}

		ul.tasks-list {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: block;
		}
		ul.tasks-list > li.task {
			display: block;
			padding: 0;
			margin: 0;
			padding-left: 8px;
		}
		li.task > input[type=checkbox]:checked + span {
			font-style: italic;
			text-decoration: line-through;
		}
		
		
	</style>
</head>
<div id="projects">
	<div id="Nooverlay">
	<div id="wrapper" class="toggled" >
		<aside id="sidebar-wrapper">
			<div class="sidebar-brand" style="text-align: left;">
				<img style="width: 58px;margin-left: 2px;" src="/img/logo.jpg">
			  </div>
		  <ul class="sidebar-nav" id="sidebar-nav">
			<li >
			  <a  href="/inicio"><i class="fa fa-home"></i>Inicio</a>
				</li>
			<li class="active">
			  <a href="/proyectos"><i class="fa fa-tasks"></i>Proyectos</a>
				</li>
			<li>
			  <a href="/organizacion"><i class="fa fa-building"></i>Organizacion</a>
				</li>
			<li>
				<a href="/perfil"><i class="fa fa-user"></i>Perfil</a>
				</li>
			<li v-if="type==1">
				<a href="/aptitudes"><i class="fas fa-chart-bar"></i>Aptitudes</a>
				</li>
			<li>
				<a href="/logout"><i class="fas fa-sign-out-alt"></i>Cerrar sesion</a>
				</li>
		  </ul>
		</aside>
		<div id="navbar-wrapper">
		  <nav class="navbar navbar-inverse">
			<div class="container-fluid">
			  <div class="navbar-header">
				<a @click="sidebar()" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
			  </div>
			</div>
		  </nav>
		</div>
		<section id="content-wrapper">
									<!-- Devs Modal -->
									<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-lg">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title text-dark">Desarrolladores disponibles</h5>
													<button type="button" class="close" data-dismiss="modal" @click="showModal = false" aria-label="Close">
														<span aria-hidden="true" >&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<div v-if="rows.length === 0" class="loader">
														<div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
													</div>
													<table v-else class="table table-striped table-bordered" style="position: relative; right: 30px;">
														<thead>
														<tr>
															<th >Nombre</th>
															<th>Prediccion</th>
															<th >Seleccion</th>
														</tr>
														</thead>
														<tbody>
														<tr v-for="(row, index) in rows" :key="index">
															<td>{{devs4API[index].nombres}}</td>
															<td>{{row.result == 1 ? " Recomendado" : "No recomendado"}}</td>
															<td><input class="form-check-input" type="checkbox" v-model="selected" :value="index" number></td>
														</tr>
														</tbody>
													</table>
			
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" @click="showModal = false"  data-dismiss="modal">Atrás</button>
													<button type="button" class="btn btn-primary" @click="testing"  data-dismiss="modal">Continuar</button>
												</div>
											</div>
										</div>
									</div>
			
			<div >
				<ul class="nav nav-tabs">
					<li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Activos</a></li>
					<li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2" v-if="tasks.filter( (el)=> el.status  == 4).length!=0">Eliminadas/Detenidas</a></li>
					<li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3" v-if="type==2">Nuevo</a></li>
					<li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-4">Info</a></li>
					<li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-5" v-if="type==2">Gestion</a></li>
					<li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-6" v-if="commits-length!=0">Historico de versiones</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" role="tabpanel" id="tab-1">
						<fieldset>
							<legend>Tares activas/pendientes</legend>
							<hr>
							<div class="board" property="board" mv-multiple v-for="user in users" v-if="user.rol == 4">
								<h2 property="boardName">Tareas de: {{user.nombres}}</h2>

								<div class="board-container">
									<ul class="column">
										<li class="title">Tareas nuevas/sin empezar</li>
										<li class="card" property="todo" mv-multiple mv-accepts="todo in_progress completed" v-for="task in tasks" v-if="user.id_usuario == task.id_desarrollador && task.status == 0">
											<strong>{{task.nombre}}</strong>.<br>Descripcion: {{task.descripcion}}<br>
											<button @click="init(task)" class="btn  btn-success" v-if="user.id_usuario == userID">Comenzar</button>
										</li>
									</ul>
									<ul class="column">
										<li class="title">En progreso</li>
										<li class="card" property="in_progress" mv-multiple mv-accepts="todo in_progress completed" v-for="task in tasks" v-if="user.id_usuario == task.id_desarrollador && task.status == 1">
											<p property="title">{{task.nombre}}.</p>
											<ul class="tasks-list">
												<li class="task" mv-multiple="task" mv-initial-items="0">
													<span property="task_name">Descripcion: {{task.descripcion}}</span><br>
													<button class="btn  btn-success" v-if="user.id_usuario == userID" @click="advance(task)">Solicitar revision</button>
												</li>
											</ul>
										</li>
									</ul>
									<ul class="column">
										<li class="title">Finalizadas</li>
										<li class="card" property="completed" mv-multiple  mv-accepts="todo in_progress completed" v-for="task in tasks" v-if="user.id_usuario == task.id_desarrollador && task.status == 3">
											<strong>{{task.nombre}}</strong>.<br>Descripcion: {{task.descripcion}}
										</li>
									</ul>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="tab-pane" role="tabpanel" id="tab-2">
						<fieldset>
							<legend>Eliminadas/Detenidas</legend>
							<hr>
							<div class="container">
								<table class="table table-dark">
									<thead>
										<tr><th scope="col">Nombre</th><th scope="col">Descripcion</th></tr>
										</thead>
										<tbody>
											<tr scope="row" v-for="task in tasks" v-if="task.status == 4">
												<td>{{task.nombre}}</td>
												<td>{{task.descripcion}}</td>
											</tr>
										</tbody>
								</table>
							</div>
							
						</fieldset>
					</div>
					<div class="tab-pane" role="tabpanel" id="tab-3">
						<fieldset>
							<legend>Creacion de tareas</legend>
							<hr>
							<form>
							<div class="form-group">
								<label for="exampleFormControlInput1">Nombre de tarea</label>
								<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese nombre de la tarea" style="width: 50%" v-model="task_name">
							</div>
							<div class="form-group">
								<label for="exampleFormControlSelect1">Responsable</label>
								<select class="form-control" id="exampleFormControlSelect1" style="width: 50%" v-model="task_responsable" @change="this.onSelected">
									<option v-for="(user, index) in users" v-if="user.rol == 4" v-bind:value="index">{{ user.nombres }}</option>
								</select>
							</div>

							<div class="form-group">
								<label for="exampleFormControlTextarea1">Descripcion de tarea</label>
								<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="width: 50%" v-model="task_description"></textarea>
							</div>
								<button  class="btn btn-success" type="button"  data-toggle="modal" data-target="#exampleModal" @click="this.createTask" v-if="type ==2">
									Crear tarea
								</button>
								<button  class="btn btn-success" type="button" v-else disabled>
									Crear tarea
								</button>
							</form>
						</fieldset>
				</div>
					<div class="tab-pane" role="tabpanel" id="tab-4">
						<fieldset>
							<legend>Información del Proyecto</legend>
							<hr>
							<ul class="list-group" v-if="projectData!=null">
								<li class="list-group-item list-group-item-dark">
									<h3 class="list-group-item-heading">Nombre del proyecto:</h3>
					 	 			<p class="list-group-item-text">{{projectData.Nombre}}</p>
								</li>
								<li class="list-group-item list-group-item-dark">
									<h3 class="list-group-item-heading">Descripcion del proyecto:</h3>
					 	 			<p class="list-group-item-text">{{projectData.Descripcion}}</p>
								</li>
								<li class="list-group-item list-group-item-dark">
									<h3 class="list-group-item-heading">Integrantes del pryecto proyecto:</h3>
									<ul>
										<li v-for="user in users">{{user.nombres}} - {{ user.rol == 4 ? "Desarrollador" : "Administrador" }}</li>
									</ul>
								</li>
								<li class="list-group-item list-group-item-dark">
									<h3 class="list-group-item-heading">Requisitos en el proyecto:</h3>
									<ul>
										<li v-for="req in projectData.Requisitos" v-if="req[1]!=0">{{req[0]}}: {{req[1]}}%</li>
									</ul>
								</li>
								
							</ul>
						</fieldset>
				</div>
				<div class="tab-pane" role="tabpanel" id="tab-5">
					<fieldset>
						<legend>Gestión</legend>
						<hr>
						 <div v-if="projectData!=null"><!--projectData!=null-->
							<button  class="btn btn-success" type="button" @click="connectGHRepo" v-if="projectData.github==''">
								Enlazar Repositorio Público <i class="fab fa-github"></i>
							</button>
							<button  class="btn btn-success" type="button" @click="connectGHRepo" v-else>
								Cambiar por Otro Repositorio Público <i class="fab fa-github"></i>
							</button>
						 </div>
                        <button type="button" class="btn btn-success" style="margin-top: 5px" @click="reevaluateProject" data-toggle="modal" data-target=".bd-example-modal-lg">Reevaluar proyecto</button>
						 <hr  v-if="tasks.filter( (el)=>el.status == 2).length!=0">
						 <div class="container"  v-if="tasks.filter( (el)=>el.status == 2).length!=0">
							<table class="table table-dark">
								<br>Tareas para revision
								<thead>
									<tr><th scope="col">Nombre</th><th scope="col">Descripcion</th><th scope="col">Accion</th></tr>
									</thead>
									<tbody>
										<tr scope="row" v-for="task in tasks" v-if="task.status == 2">
											<td>{{task.nombre}}</td>
											<td>{{task.descripcion}}</td>
											<td><button class="btn  btn-success" @click="validate(1, task)">Aceptar</button> 
												<button class="btn  btn-danger" @click="validate(2, task)">Rechazar</button><br><br>
												<button class="btn  btn-warning" @click="deleteTask(task)">Eliminar</button>
											 </td>
										</tr>
									</tbody>
							</table>
						 </div>
						 <hr>
						 <button  class="btn btn-success" type="button" v-if="type==2" @click="endProject">
							Finalizar el proyecto
						</button>
					</fieldset>
				</div>
				<div class="tab-pane" role="tabpanel" id="tab-6">
					<fieldset>
						<legend>Historico de versiones</legend>
						<hr>
						<div class="container">
							<table class="table table-dark">
								<thead>
									<tr><th scope="col">Usuario</th><th scope="col">Nombre</th><th scope="col">Fecha</th></tr>
									</thead>
									<tbody>
										<tr scope="row" v-for="com in commits" :href="com[3]">
											<td>{{ com[0] }}</td>
											<td>{{ com[1] }}</td>
											<td>{{ com[2] }}</td>
										</tr>
									</tbody>
							</table>
						</div>
						
					</fieldset>
				</div>
			</div>
		</section>
	</div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
	async function f(url) {
		let respuesta = await fetch(url)
		let json = await respuesta.json();

		return  json
	}
  const vm = new Vue({
	  el: '#projects',
	  components: {
		  'carousel': VueCarousel.Carousel,
		  'slide': VueCarousel.Slide
		},
	  data: {
		  type:0,
		  task_name: "",
		  task_responsable: "",
		  task_description: "",
		  project_id: window.location.pathname.split('/')[2],
		  projectData: null,
		  tasks: [],
		  users:[],
		  AllUsers:[],
		  colab_id: "",
		  userID: 0,
		  advancePerc: 0,
		  apt: [],
		  devs4API:[],
		  commits:[],
		  rows: [],
		  selected: []
	  },
	  mounted(){
	  },
	  methods: {
		  sidebar(){
			  $("#wrapper").toggleClass("toggled");
		  },


          async reevaluateProject(){
		  	let available_devs_ids = [];
		  	let errors = 0
		  	let exp = 0
		  	let on_time = 0
		  	let quality = 0
		  	let chemistry = 0
			  dev_apts = []
			let rows = []

			  let projectReqsIndex= [];
			  let aptReqsIndex= [];

			  for (let i = 0; i < vm.$data.projectData.Requisitos.length; i++) {
					if (vm.$data.projectData.Requisitos[i][1] !== 0){
						projectReqsIndex.push(i)
					}
			  }
			  for (let i = 0; i < vm.$data.devs4API.length ; i++) {
				  available_devs_ids.push(vm.$data.devs4API[i].id_usuario)
			  }
			  for (let i = 0; i < vm.$data.apt.length; i++) {
				  for (let j = 0; j < available_devs_ids.length; j++) {
					  if (vm.$data.apt[i][0].id_usuario === available_devs_ids[j]){
						  quality = vm.$data.apt[i][0].dev_quality
						  on_time = vm.$data.apt[i][0].dev_on_time
						  chemistry = vm.$data.apt[i][0].team_chemistry
						  exp = vm.$data.apt[i][0].dev_exp
						  dev_apts.push(vm.$data.apt[i][0].exp_python, vm.$data.apt[i][0].exp_java, vm.$data.apt[i][0].exp_cpp,
								  vm.$data.apt[i][0].exp_php, vm.$data.apt[i][0].exp_c, vm.$data.apt[i][0].exp_ruby, vm.$data.apt[i][0].exp_objective,
								  vm.$data.apt[i][0].exp_go, vm.$data.apt[i][0].exp_visual, vm.$data.apt[i][0].exp_scala,
								  vm.$data.apt[i][0].exp_sql, vm.$data.apt[i][0].exp_nosql, vm.$data.apt[i][0].exp_kotlin,
								  vm.$data.apt[i][0].exp_r, vm.$data.apt[i][0].exp_swift, vm.$data.apt[i][0].exp_clojure,
								  vm.$data.apt[i][0].exp_perl, vm.$data.apt[i][0].exp_rust, vm.$data.apt[i][0].exp_java, vm.$data.apt[i][0].exp_html_css)
						  for (let k = 0; k < dev_apts.length ; k++) {
							  if (parseInt(dev_apts[k]) !== 0){
							  	aptReqsIndex.push(k)
							  }
						  }
						  let intersection = aptReqsIndex.filter(value => projectReqsIndex.includes(value))
						  let prom = 0
						  uniqueArray = intersection.filter(function(item, pos) {
    						return intersection.indexOf(item) == pos;
							})
						  for (let k = 0; k < uniqueArray.length; k++) {
							prom += vm.$data.projectData.Requisitos[uniqueArray[k]][1] 

						  }
						  prom = prom/uniqueArray.length
						  let url = "https://cors-anywhere.herokuapp.com/http://dev-performance.herokuapp.com/?model=1&arg1="+quality+"&arg2="+on_time+"&arg3="+chemistry+"&arg4="+exp+"&arg5="+prom+"&arg6="+i+"";
						  rows.push(await f(url))

						  intersection = []
						  prom = 0
						  dev_apts = []
					  }
				  }
			  }
			  
			  vm.$data.rows= rows.sort(function(a,b) {
    			return a.num - b.num;
				});
          },
		  testing(){
			  Swal.fire({
                    title: "Alerta",
                      text: "¿Quiere realizar una prediccion del exito del proyecto?",
                      icon: "warning",
                      showCancelButton: true,
                      confirmButtonText: 'Realizar prediccion',
                      cancelButtonText: 'No realizar prediccion'
                }).then((result) => {
                    if (result.value) {
                        //vm.progress();
                        this.predictSuccess()
                            //Primero funcion de prediccion
                            //Aqui modal con la predicion xd
                            //Recuerda dar la opcion de cancelar, que cierre el modal nada mas  ya los datos se reinician

                    }else{
                        vm.editProject()
                    }
                  });
		},
		editProject(){
			vm.progress();
			const params = {projectID: vm.$data.project_id, DevsIDs: vm.$data.selected.map( (el)=> vm.$data.devs4API[el].id_usuario), prevDevsIDs: JSON.parse(vm.$data.projectData.Desarrolladores)};
			axios.post('/editProject', params)
                .then((res)=>{
					vm.fillData();
                    Swal.fire({title:"Exito!",text:"Proyecto editado con exito",icon:"success"})
                })
		},
		predictSuccess(){
            Swal.mixin({
                input: 'text',
                confirmButtonText: 'Next &rarr;',
                showCancelButton: true,
                progressSteps: ['1', '2', '3']
            }).queue([
                {
                    title: 'Experiencia',
                    text: 'Experiencia de Manager del equipo',
                    input: 'select',
                    inputOptions: {
                        1: 'Muy Baja',
                        2: 'Baja',
                        3: 'Media',
                        4: 'Alta',
                        5: 'Muy Alta',
                        }
                },
                {
                    title: 'Duración del proyecto',
                    text: 'Estimación de la duración del proyecto en dias',
                    input: 'number',
                    inputValue: 0
                },
                {
                    title: 'Entidades',
                    text: 'Estimación de entidades en la base de datos (En el caso de existencia)',
                    input: 'number',
                    inputValue: 0
                },

            ]).then(async (result) => {
                if (result.value) {
                    vm.progress();
                    const answers = result.value
                    const devs = vm.$data.selected.map( (el)=> vm.$data.devs4API[el])
                    let experience = [];
                    for (let i = 0; i < vm.$data.apt.length; i++) {
                        for (let j = 0; j < devs.length; j++) {
                            if (devs[j].id_usuario === vm.$data.apt[i][0].id_usuario){
							   experience.push(vm.$data.apt[i][0].dev_exp)
                            }
                        }
                    }
                    let mgr_exp = 0
                    if (answers[0] === "1"){
                        mgr_exp = 5
                    } else if (answers[0] === "2"){
                        mgr_exp = 10
                    } else if (answers[0] === "3"){
                        mgr_exp = 25
                    } else if (answers[0] === "4"){
                        mgr_exp = 35
                    } else if (answers[0] === "5") {
                        mgr_exp = 50

                    }

                    let total = 0;
                    for (let i = 0; i < experience.length; i++) {
                        total += experience[i];
					}
                    let avg = total / experience.length;
					let avg2 = 0;
                    for(let i = 0; i<vm.$data.projectData.Requisitos.filter( (el)=> el[1]!=0).length;i++){
                        avg2+=vm.$data.projectData.Requisitos.filter( (el)=> el[1]!=0)[i][1];
                    }
                    avg2 = avg2/vm.$data.projectData.Requisitos.filter( (el)=> el[1]!=0).length
                    let url = "https://cors-anywhere.herokuapp.com/http://dev-performance.herokuapp.com/?model=2&arg1="+avg2+"&arg2="+mgr_exp+"&arg3="+(answers[1]/365)+"&arg4="+answers[2]+"&arg5="+avg+"";
                    let json = await f(url)
                    //Se estimo que el proyecto tendría una duración de 538 horas, contando con los 2 desarrolladores trabajando 8h al dia se estiman 34 dias apox
                    Swal.fire({
                        title: 'Se estima un exito',
                        html: `La duracion estimada del proyecto por el usuario es ${answers[1]} dias y el valor predicho es ${json.result} horas,
                        teniendo en cuenta que se tienen ${experience.length} desarrolladores se tardarian ${Math.round(((json.result/8)/experience.length) * 100) / 100} dias.
                        Esto basado en el estandar de 8 horas de trabajo al dia.
                        `,
                        showCancelButton: true,
                        confirmButtonText: 'Editar proyecto',
                        cancelButtonText: 'Cancelar'
                    }).then( (res)=>{
                        if (res.value) {
                            vm.editProject()
                        }
                    });


                }
            })
		},
        progress(){
            Swal.fire({
                title: 'Espera un segundo',
				html: 'Procesando...',
				showCancelButton: false,
				showConfirmButton: false,
                timer: 5000,
                timerProgressBar: true
                })
        },
		  async connectGHRepo(){
			  const { value: url } = await Swal.fire({
				  input: 'url',
				  title: 'Enlace del repositorio',
				  text: 'El repositorio debe ser de GitHub y Público',
				  inputPlaceholder: 'Ingrese la URL'
			  })
			  if (url) {
				  axios.post('/setGitUrl', {
				  	projectID: vm.$data.project_id,
					  url: url
				  })
				  .then((res)=>{
					  Swal.fire({title:"Exito!",text:"Se ha enlazado el Repositorio",icon:"success"})
				  })
			  }
		  },
			onSelected() {
					vm.$data.colab_id = vm.$data.users[vm.$data.task_responsable].id_usuario

			},
		  createTask(){
			vm.$data.advancePerc = Math.round(((vm.$data.tasks.filter((el)=> el.status == 4 || el.status == 3).length)/(vm.$data.tasks.length+1))*100)
			  axios.post('/insertTask', {
			  	  projectID: this.project_id,
				  name:vm.$data.task_name,
				  description: vm.$data.task_description,
				  colabID: vm.$data.colab_id,
				  cantidad: (vm.$data.tasks.length+1), 
				  projectID: vm.$data.projectData._id,Completado: vm.$data.advancePerc
			  })
					  .then((res)=>{
						  Swal.fire({title:"Exito!",text:"Proyecto inicializado con exito",icon:"success"})
						  vm.fillData();
					  })

		  },
		  init(task){
			vm.$data.advancePerc = Math.round(((vm.$data.tasks.filter((el)=> el.status == 4 || el.status == 3).length)/(vm.$data.tasks.length))*100)
			const params = {id: task._id, name: task.nombre, description: task.descripcion, colabID: task.id_desarrollador, status: 1, adminID: vm.$data.projectData.admin,
				  cantidad: (vm.$data.tasks.length), 
				  projectID: vm.$data.projectData._id, Completado: vm.$data.advancePerc}
			axios.post('/updateTask', params)
					  .then((res)=>{
						  Swal.fire({title:"Exito!",text:"Ahora la tarea esta en progreso de desarrollo",icon:"success"})
						  vm.fillData();
					  })
		},
		advance(task, val){
			vm.$data.advancePerc = Math.round(((vm.$data.tasks.filter((el)=> el.status == 4 || el.status == 3).length)/(vm.$data.tasks.length))*100)
			const params = {id: task._id, name: task.nombre, description: task.descripcion, colabID: task.id_desarrollador, status: 2, adminID: vm.$data.projectData.admin,
				  cantidad: (vm.$data.tasks.length), 
				  projectID: vm.$data.projectData._id, Completado: vm.$data.advancePerc}
			axios.post('/updateTask', params)
					  .then((res)=>{
						  Swal.fire({title:"Exito!",text:"Solicitud de revision enviada con exito",icon:"success"})
						  vm.fillData();
					  })
		},
		deleteTask(task){
			Swal.fire({title:"Advertencia", text: "¿Quieres eliminar esta tarea?", icon: "warning", 
				confirmButtonText: 'Si',
				showCancelButton: true,
				cancelButtonText: "No"})
				.then( (res)=>{
					if(res.value){
						vm.$data.advancePerc = Math.round(((vm.$data.tasks.filter((el)=> el.status == 4 || el.status == 3).length+1)/(vm.$data.tasks.length))*100)
			const params = {id: task._id, name: task.nombre, description: task.descripcion, colabID: task.id_desarrollador, status: 4, adminID: vm.$data.projectData.admin,
				  cantidad: (vm.$data.tasks.length), 
				  projectID: vm.$data.projectData._id, Completado: vm.$data.advancePerc}
			axios.post('/updateTask', params)
					  .then((res)=>{
						  Swal.fire({title:"Exito!",text:"La tarea se marco como detenida/eliminada",icon:"success"})
						  vm.fillData();
					  })
					}
				})
		},
		endProject(){
			const text = vm.$data.projectData.Completado != 100 ? "¿Quieres finalizar el proyecto?\nAun faltan tareas por finalizar":"¿Quieres finalizar el proyecto?"
			Swal.fire({title:"Advertencia", text: "¿Quieres finalizar el proyecto?", icon: "warning", 
				confirmButtonText: 'Si',
				showCancelButton: true,
				cancelButtonText: "No"})
				.then( (res)=>{
					if(res.value){
						axios.post('/endProject',{projectID: vm.$data.project_id,DevsIDs: vm.$data.users.filter( (f)=> f.rol == 4).map( (el)=>el.id_usuario)})
							.then((res)=>{
							vm.fillData()
						})
					}
				});
		},
		validate(type, task){
			const text = type ==2 ? "¿Quieres rechazar el avance de esta tarea?": "¿Quieres aprobar el avance de esta tarea?"
			Swal.fire({title:"Advertencia", text:text, icon: "warning", 
				confirmButtonText: 'Si',
				showCancelButton: true,
				cancelButtonText: "No"})
				.then( (res)=>{
					if(res.value){
						if(type==1){
							vm.$data.advancePerc = Math.round(((vm.$data.tasks.filter((el)=> el.status == 4 || el.status == 3).length+1)/(vm.$data.tasks.length))*100)
			const params = {id: task._id, name: task.nombre, description: task.descripcion, colabID: task.id_desarrollador, status: 3, adminID: vm.$data.projectData.admin,
				  cantidad: (vm.$data.tasks.length), 
				  projectID: vm.$data.projectData._id, Completado: vm.$data.advancePerc}
			axios.post('/updateTask', params)
					  .then((res)=>{
						  Swal.fire({title:"Exito!",text:"La tarea se marco como finalizada",icon:"success"})
						  vm.fillData();
					  })
						}else{
							init(task);
						}
					}
				})
		},
		returnGit(exist, commits, url){
  return new Promise(async (resolve,reject) => {
      try {
		const result = await axios.get(url);
        const data = result.data;
        const parent = data.parents.length==0 ? undefined : data.parents[0].url;
        commits.push([data.committer.login, data.commit.message, data.commit.committer.date, data.html_url, parent])
        resolve(commits)
      } catch (error) {
        reject(error)
      }
    });
},
		fillData(){
			axios.post('/getTaskInProject', {projectID: this.project_id})
		  .then(async(res)=>{
			  if(res.data.project.Completado == 100){
				  Swal.fire({title:"El proyecto esta finalizado", html:"No puedes ver mas detalles del mismo<br>Se te redirigirá a la vista de proyectos",
				confirmButtonText:"Ok!"}).then( (res)=>{
					window.location.href = '/proyectos';
				})
			  }
			  let Reqs= []
			  this.projectData= res.data.project;
			  for (let [key, value] of Object.entries(JSON.parse(this.projectData.Requisitos))) {
                Reqs.push([key,value])
				}
			  this.type = res.data.type
			  this.projectData.Requisitos = Reqs
			  this.tasks =	res.data.tasks;
			  this.AllUsers = res.data.users;
			  this.apt = res.data.apt;
			  const devs = JSON.parse(res.data.project.Desarrolladores);
			  this.devs4API = this.AllUsers.filter((el)=> devs.includes(String(el.id_usuario)) || (el.rol == 4 && el.activo == 1))
			  this.users = this.AllUsers.filter((el)=> devs.includes(String(el.id_usuario)) || el._id== res.data.project.admin)
			  this.userID = res.data.userID
			  if(this.projectData.github!=''){
				const arr = this.projectData.github.split('/')
  				const owner = arr[arr.length-2], repo = arr[arr.length-1]
				const firstURL = 'https://api.github.com/repos/'+owner+'/'+repo+'/commits'
				  let commits = []
				  consult = await axios.get('https://api.github.com/rate_limit')
				  remaining = consult.data.rate.remaining
				  if( remaining != 0){
					axios.get(firstURL)
    				.then( async (response) => {
      					if(response.data.message != "Not Found"){
        				const data = response.data[0];
        				commits.push([data.committer.login,
          					data.commit.message, data.commit.committer.date, data.html_url, data.parents[0].url])
        				let exist = data.parents[0].url!=undefined ? true : false
        				while (exist){
							consult = await axios.get('https://api.github.com/rate_limit')
				  			remaining = consult.data.rate.remaining
				  			if( remaining != 0){
								commits = await vm.returnGit(exist, commits, commits[commits.length-1][4]);
          						exist = commits[commits.length-1][4]!=undefined ? true : false
							  }else{
								commits = "ERROR"
								exist = false
							  }
							}
						this.commits= commits
      					}else{
							this.commits= "ERROR"
						  }
    				});
				  }else{
					this.commits= "ERROR"
				  }
			  }
		  })
		}
		},
	  created(){
		  this.fillData()
	  }
  });
  </script>
</html>
